NODE_ENV=development
JWT_SECRET=BARIŞ_MANÇO
JWT_EXPIRES_IN=7d
POSTGRES_DB_NAME=example
POSTGRES_USER=example
POSTGRES_PASSWORD=example
PROD_DATABASE=postgres://POSTGRES_USER:POSTGRES_PASSWORD@postgresql-database/POSTGRES_DB_NAME
DEV_DATABASE=postgres://POSTGRES_USER:POSTGRES_PASSWORD@postgresql-database/POSTGRES_DB_NAME
REDIS_URL=redis://redis-database
RABBITMQ_URI=amqp://rabbitmq
ELASTIC_NODE=http://elastic-search:9200
CLOUDINARY_CLOUD_NAME=example
CLOUDINARY_API_KEY=example
CLOUDINARY_API_SECRET=example
MAILGUN_API_KEY=example
MAILGUN_DOMAIN=example
MAILGUN_SENDER_USER=example
MAILGUN_USERNAME=example
MAILGUN_API_URL=example
TWILIO_ACCOUNT_SID=ACexample
TWILIO_AUTH_TOKEN=example
TWILIO_MESSAGING_SERVICE_SID=example
SSL_KEY_PATH=BLANK_IF_DEVELOPMENT
SSL_CERT_PATH=BLANK_IF_DEVELOPMENT
SSL_CA_PATH=BLANK_IF_DEVELOPMENT
SECURE_HOST=FRONT_AND_APP_URL_OR_BLANK
PORT=5555